body {
    text-align: center;
}


.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.centrar {
    text-align: center;
    
}
    




